@font-face {
  font-family: "sacred_direction_nav";
  src: url('sacred_direction_nav.eot?t=1780981308393'); /* IE9*/
  src: url('sacred_direction_nav.eot?t=1780981308393#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('sacred_direction_nav.woff2?t=1780981308393') format('woff2'),
  url('sacred_direction_nav.woff?t=1780981308393') format('woff'),
  url('sacred_direction_nav.ttf?t=1780981308393') format('truetype'),
  url('sacred_direction_nav.svg?t=1780981308393') format('svg');
}

[class^="sacred_direction_nav-"], [class*=" sacred_direction_nav-"] {
  font-family: 'sacred_direction_nav' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.sacred_direction_nav-direction::before { content: "\ea01"; }
.sacred_direction_nav-dua::before { content: "\ea02"; }
.sacred_direction_nav-prayer::before { content: "\ea03"; }
.sacred_direction_nav-settings::before { content: "\ea04"; }


