*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Подпись приложения — НИКОГДА в Git
*.jks
*.keystore
*.pem
*.zip

# Сборки
*.apk
*.aab
/app/build/
/release/
/app/release/
