*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/org/

# Подпись приложения — НИКОГДА в Git
*.jks
*.keystore
*.pem
*.zip

# Сборки
*.apk
*.aab
/app/build/
/release/
/app/release/

__pycache__/
*.pyc
